# Игнорирование конфига bundler
/.bundle

# Игнорирование дефолтной базы данных SQLite.
/db/*.sqlite3
/db/*.sqlite3-journal

# Игнорирование всех логов и временных файлов.
/log/*
/log/*.log
/tmp
/coverage

/.ruby-gemset
/.powenv
/.env
/jspm_packages/*
/node_modules
/bower_components
/typings
/public/wassets
/app/assets/javascripts
/webpack-assets.json
/webpack-assets-deploy.json

# Compiled
public/wassets/
frontend/webpack-assets.json

# Игнорирование прочих ненужных файлов.
database.yml
doc/
*.swp
*~
.DS_Store
.idea
.secret
*.rspec
*.rvmrc